@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #25252a;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.h4 {
  font-weight: 800;
  color: #0b4870;
}

#footer {
  font-weight: 800;
  color: #fff;
  font-size: medium;
}

#h4 {
  font-size: medium;
}

.nav-item {
  margin-right: 1.2em;
}

#tabs .nav-link {
  color: black;
}

#tabs .nav-link:hover {
  color: #fff;
  background-color: #0b4870;
}

.navbar-brand {
  font-weight: 800;
}

svg {
  color: #0b4870;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .nav-link::after {
    display: none;
  }
}

@media (max-width: 979px) {
  .btn-register {
    display: none;
  }
}

iframe{
  border-radius: 10px;
}

.desc-youtube {
  margin-top: 1em;
  color: black;
  font-weight: 500;
  font-size: 14px;
}

.responsive {
  min-height: 200px;
  max-height: 400px;
}

#cardbody {
  padding-top: 0.5rem;
  padding-left: 0rem;
}

#cardfooter {
  padding-top: 0.5rem;
  padding-left: 0rem;
}

.circular-theme--two .reach-out .contact-form .col-map {
  padding-left: 0px;
}

.circular-theme--two .reach-out .contact-form .map-wrapper {
  overflow: hidden;
  position: relative;
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed)
}

.nav_logo {
  margin-bottom: 2rem
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color)
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 700
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s
}

.nav_link:hover {
  color: var(--white-color)
}

.nav_icon {
  font-size: 1.25rem
}